@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Enchanted Land';
  src: url('/assets/fonts/EnchantedLand.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fafafa;
  --foreground: #2D3436;
}

button {
  cursor: pointer;
}

@theme inline {
  --color-primary: #FCF8E2;
  --color-secondary: #E0C09C;
  --color-dark: #2D3436;
  --color-pure-black: #000000;
  --color-pure-white: #FFFFFF;

  --font-enchanted: 'Enchanted Land', cursive;
  --font-montserrat: 'Montserrat', sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.conteneur {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}